{% extends 'base.html' %}

{% block content %}

    {% if not object_list %}
        <p class="no-articles">No cars yet</p>

    {% else %}

        <section id="catalogue">
        <h1>Total cars: {{ object_list.count }}</h1>

        {% for car in object_list %}
            <div class="car-card">
                <div class="image-wrap">
                    <img
                            src="{{ car.image }}"
                            alt="{{ car.type }}"
                    />
                </div>
                <h3>{{ car.type }}</h3>
                
                <h1>{{ car.model }}</h1>
                <div class="details-buttons">
                    <!-- car details button -->
                    <a href="{% url 'detail-car' pk=car.pk %}" class="details-btn">Details</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</section>
{% endblock %}
